[2020-07-24 20:12] cwickham commented on #430
This is great!  But, a lot more complicated that I expected.  I'm going to use an abbreviated version in the Intro with just enough to talk about the overall structure.

I'm going to propose we include this as an Appendix, with all the notes as links to the part of the both the files are added.

[2020-07-24 20:23] cwickham opened #432 "Proposal: Add a completed project listing as an Appendix"
## Proposal

Include the complete tree for `zipf` as an Appendix, with each file linked to the chapter/section it is introduced.

## Background

@DamienIrving provided a great complete tree for `zipf` in #430.  The complete tree is pretty complicated, so I didn't include the full thing in the re-working of project structure #431.  However, it would be nice to be able to link to the complete tree,

[2020-07-24 21:33] k8hertweck commented on #432
I really like this idea; the truncated `tree` output at the beginning of each chapter provides minimum info, but a specific place to look for the complete project would be great (and something I wish we'd had all along!)

[2020-07-29 05:30] DamienIrving commented on #432
I like this idea too. For now, #434 contains a new file `py-rse-final-tree.md` which shows the whole tree (I missed a few files in https://github.com/merely-useful/merely-useful.github.io/issues/430#issuecomment-663283957). We could convert that file to an appendix before or after that PR is merged.

[2020-08-05 01:44] DamienIrving opened #435 "Discussion: py-rse setup instructions"
Now that the content of the RSE book is more or less settled, we need to sort out our setup instructions.

## Where does the information go?

The current `py-rse/install.md` file says the following:
[code]
So the idea is to provide the setup information on our website (rather than in the printed book) to allow for the fact that instructions for installing software are constantly evolving. Question

[2020-08-05 02:42] DamienIrving opened #436 "Discussion: Reviewing the py-rse appendices"
As it stands there are a number of appendices in our py-rse book. Here's some initial thoughts about where they all belong (and whether we need any others) to get the conversation started.

These appendices are uncontroversial/necessary for the physical book:
- License: `LICENSE.md`
- Learning Objectives: `py-rse/objectives.Rmd`
- Key Points: `py-rse/keypoints.Rmd`
- Glossary: currently `gloss.Rmd

[2020-08-05 03:35] joelostblom commented on #435
I agree with linking 1-4.

Regarding accessing conda from Git bash, you can make it available with `conda init`. Open the Anaconda Prompt and run `conda init bash`, which will add the necessary line to `~/.bash_profile`.

Regarding 5, I wrote about `make`for windows previously, which I have modified below, what do you think (this is using the same make binaries as the `scoop` package installer for

[2020-08-05 04:03] DamienIrving commented on #435
Oh, wow, `conda init bash` from the Anaconda Prompt is much easier!

In terms of Make, is `choco install make` all you'd have to do if we went the Chocolatey route? (i.e. would that mean it was available from Git Bash without editing `bash_profile`?) And are there other pros or cons associated with introducing Chocolatey?

[2020-08-05 05:02] joelostblom commented on #435
For chocolatey, I am not sure actually. I have seen that this is a popular alternative but when I was going to try it, I noticed that it requires a few step in powershell to install the package manager, and I thought it was not worth it for teaching nonice students and when only doing it for a single package (since we're intermediate itmight be ok) https://chocolatey.org/install.

[2020-08-09 00:21] gvwilson opened #438 "Re-do home page"
The "Merely Useful" GitHub page needs a makeover.

[2020-08-10 08:02] lwjohnst86 commented on #438
Should it link to all the other material or should we revise so it shows only the content of the py-rse?

[2020-08-12 21:18] lwjohnst86 opened #439 "Re-arrange and move out python novice and r novice material into own repositories"
I'm almost done the process of moving these into their own repositories, however, I won't be able to finish it until end of this month. Leaving this here just as an FYI :)

[2020-08-12 23:24] DamienIrving commented on #436
There is also the final tree listing appendix suggested in #432

[2020-08-12 23:31] DamienIrving commented on #429
Now that #431 and #433 are merged I think this issue has been resolved?

[2020-08-12 23:57] DamienIrving commented on #365
This issue is now covered in #435.

[2020-08-12 23:57] #365 closed

[2020-08-13 00:05] #361 closed

[2020-08-13 10:21] gvwilson commented on #435
https://ubc-mds.github.io/resources_pages/installation_instructions/ may be useful

[2020-08-13 21:38] DamienIrving commented on #410
In the [meeting on 13 August](https://github.com/merely-useful/merely-useful.github.io/wiki/Meeting-agenda-2020-08-13) @gvwilson said he'd find a Python guru who might know the solution to this.

[2020-08-13 21:39] DamienIrving commented on #438
In the [meeting on 13 August](https://github.com/merely-useful/merely-useful.github.io/wiki/Meeting-agenda-2020-08-13) we tagged @lwjohnst86 to handle the home page.

[2020-08-13 21:49] DamienIrving commented on #436
We discussed this at the [meeting on 13 August](https://github.com/merely-useful/merely-useful.github.io/wiki/Meeting-agenda-2020-08-13) and decided that I would prepare a conda appendix and final directory tree appendix and keep all the others (i.e. YAML, working remotely, style).

Ultimately the publisher will decide whether things like the solutions and installation instructions go in the print

[2020-08-13 21:56] k8hertweck commented on #201
Thumbs up here for tugboats! (last pic in the series above)

I think it makes sense because they are utilitarian, and we're talking about making python packages.

[2020-08-13 21:56] k8hertweck commented on #201
I also think the speedboat (second pic) should be for rse-R, and the other two for intro books.

BOAT BOOKS FTW

[2020-08-14 06:19] DamienIrving opened #441 "Where are we going on our book tour?"
Kidding... but we should start a list of places to advertise the book (blogs, conferences, mailing lists, etc).

[2020-08-14 17:28] cwickham commented on #201
Another vote for the tugboats.

For rse-R, I'm wondering if we can find something that also indicates working as a team, maybe something like people working a sailboat? (This was the closest I could find https://unsplash.com/photos/gKkQj-Y-XD0)

[2020-08-15 13:42] lwjohnst86 commented on #201
Love the tugboats too! And sailboat for R :grin:

[2020-08-15 13:50] #397 closed

[2020-08-15 13:50] lwjohnst86 commented on #375
I assume this is revised? Closing

[2020-08-15 13:50] #375 closed

[2020-08-15 17:42] joelostblom commented on #201
I like the tugboats and rowboats pictures!

[2020-08-24 21:39] #432 closed

[2020-08-24 21:40] #412 closed

[2020-08-24 21:40] #435 closed

[2020-08-24 21:40] #426 closed

[2020-08-26 14:18] lwjohnst86 commented on #439
Novice material is now here https://github.com/merely-useful/novice-r and https://github.com/merely-useful/novice-py

[2020-08-26 14:18] #439 closed

[2020-08-26 15:31] #436 closed

[2020-08-26 15:31] #429 closed

[2020-08-26 15:32] lwjohnst86 commented on #430
With #434 merged, can this be closed?

[2020-08-26 15:36] lwjohnst86 commented on #438
Considering we've moved out all the other books into their own repos, what do you all think about either:

1. Keeping this repo name as is?
2. Renaming to `py-rse` and creating another repo with the current name and make a website linking to all the other books?

[2020-08-26 17:10] cwickham commented on #430
Yup!

[2020-08-26 17:10] #430 closed

[2020-08-26 17:16] cwickham commented on #438
I'd be in favor of 2.

[2020-08-26 20:39] #197 closed

[2020-08-26 22:54] DamienIrving opened #453 "Examples of good code provenance"
We currently have an exercise in the Provenance chapter that reads as follows:

### Evaluate a project's code provenance {#provenance-ex-eval-code}

The GitHub repository https://github.com/borstlab/reversephi_paper/ provides the code and data for the paper @leonhardt2017.  Browse the repository and answer the following questions:

1. Where is the software environment described? What files would y

[2020-08-26 23:01] DamienIrving commented on #453
I'm going to selfishly nominate [Irving et al (2019)](https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2019GL082015), which has an associated [Figshare page](https://figshare.com/articles/Anthropogenic_aerosols_greenhouse_gases_and_the_uptake_and_storage_of_excess_heat_in_the_climate_system_supplementary_metadata/7575830/3) with all the associated code provenance stuff.

[2020-08-26 23:15] k8hertweck commented on #453
[This paper](https://github.com/blab/h3n2-reassortment) by Trevor Bedford's lab is interesting because it uses previously published data and has a brief description of a pre-processing pipeline, thought the code provenance is largely the same as the original paper linked here.

[2020-08-26 23:17] k8hertweck commented on #453
[This](https://datadryad.org/stash/dataset/doi:10.5061/dryad.1jwstqjrd) is another interesting example from DataDryad, which presents code/data as an R package downloadable from that link. I haven't inspected it closely, and it doesn't seem to have been published yet (FRESH DATA) but I imagine there are other examples in Dryad I can search for if this seems like a reasonable type of example.

[2020-08-27 20:57] k8hertweck commented on #441
The research computing community is so ready for a book like ours, since they're so used to seeing suboptimal research software. [CaRCC](https://carcc.org) is really active right now.

[2020-08-27 21:14] DamienIrving opened #455 "Potential reviewers"
We need to make a list of potential reviewers of the book. As well as suggested names, please include a brief overview of the person's background to assist those of us who aren't familiar with their work.

[2020-08-27 21:29] DamienIrving commented on #455
The list we gave to Taylor and Francis earlier in the process included the following people:

**Lorena Barba**
https://lorenabarba.com/
<labarba@email.gwu.edu>
Professor of mechanical and aerospace engineering at the George Washington University, leading a research group in computational fluid dynamics, computational physics and high-performance computing. Member of the Board of Directors for NumF

[2020-08-27 22:36] cwickham commented on #453
First example looks good.  If we think it's too similar to the current example, I'd be happy to swap it out...i.e. I'd rather point to efforts where we know the researchers, rather than random ones I found on the internet.

I like the second example @k8hertweck too, mostly because I would know what to do with this package (e.g. how to install it), but who knows what a Python user might make of it.

[2020-09-02 03:58] DamienIrving commented on #441
There are a bunch of Research Software Engineer Associations around the world that have mailing lists, slack channels, conferences, etc:
- Australia / New Zealand: https://rse-aunz.github.io/
- UK: https://society-rse.org/ (they host [RSECon](https://rsecon2020.society-rse.org/))
- US: https://us-rse.org/
- Nordic: https://nordic-rse.org/
- Netherlands: https://nl-rse.org/
- Germany: https://de-rs

[2020-09-03 11:06] gvwilson opened #461 "Dedications"
We each have one line in the dedication - please add a note to this comment to specify what you want to say. As an example, the dedication for "JavaScript for Data Science" reads:

[code]

[2020-09-03 11:18] gvwilson commented on #366
A better option: from draw.io save as extended SVG.

[2020-09-03 11:20] gvwilson commented on #455
**Christina Koch**
https://christinalk.github.io/
koch.christinal@gmail.com
HPC facilitator at the University of Wisconsin, very active in the Carpentries community for many years.

[2020-09-03 11:26] gvwilson commented on #455
**Ahmadou Dicko**
https://www.ahmadoudicko.com/
dicko.ahmadou@gmail.com
Statistical consultant based in Senegal.

[2020-09-03 11:27] gvwilson commented on #455
**Dhavide Aruliah**
https://dhavide.github.io/
dhavide@gmail.com
Head of training at Quansight.

[2020-09-03 16:17] lwjohnst86 commented on #438
Ok, renaming now! Fix your remotes everyone :grin:

[2020-09-03 16:29] gvwilson commented on #438
What remote do we rename to what?

[2020-09-03 17:03] lwjohnst86 commented on #438
`git remote set-url origin git@github.com:merely-useful/py-rse.git`

or if you have this repo as upstream, replace with upstream

[2020-09-03 17:08] lwjohnst86 commented on #438
So just to clarify, now we'd like a home page for Merely Useful for the four books together? Like to show off and link all four books?

[2020-09-03 17:12] lwjohnst86 commented on #461
Hmm, I don't have any dedications... except to the authors and the contributors for all the work we've put into this! :grin:

[2020-09-03 21:08] gvwilson opened #464 ""References" heading does not show up in PDF"
1.  `make pdf`
2.  Look in the ToC: no heading "References".
3.  Look at the end of the book: the references are formatting as a continuation of the final appendix.

I tried removing the `if html_output` in `references.Rmd` - that made the heading appear in the PDF, but:

1.  It still doesn't appear in the ToC.
2. It disappears from the HTML version.

[2020-09-03 21:57] DamienIrving commented on #461
[code]
[code]

[2020-09-03 22:15] DamienIrving commented on #438
@lwjohnst86 Yep, I think that's the idea - a homepage at https://merely-useful.github.io/. I think that page will need some kind of blurb discussing what stage of development each book is at (and how to get involved).

[2020-09-04 00:05] DamienIrving commented on #410
Maybe if we added `zipf` to `requirements.txt` this issue would go away? The only way to test this (which I haven't done) would be to actually publish the `zipf` package to PyPI.

[2020-09-04 05:02] joelostblom commented on #461
I don't think I have any dedications outside this group of people... maybe
UofTCoders @lwjohnst? xD

On Thu, Sep 3, 2020 at 2:57 PM Damien Irving <notifications@github.com>
wrote:

[2020-09-05 10:06] #464 closed, assigned to lwjohnst86

[2020-09-05 10:06] lwjohnst86 commented on #464
It now is there as Appendix N in the pdf and also is in the HTML version.

[2020-09-05 10:18] lwjohnst86 opened #468 "Re-scale images to be default 100% linewidth in PDF"
related to the "unhuging" of the images.

[2020-09-05 10:32] lwjohnst86 opened #469 "Code chunks can't go longer than 70 characters for PDF"
Overflow is a major problem for code chunks. Not sure it can be fixed other than manual right?

[2020-09-05 12:29] #468 closed, assigned to lwjohnst86

[2020-09-05 14:57] lwjohnst86 commented on #438
I've got something up! https://merely-useful.github.io/ I didn't add much text and descriptions to it, let me know ideas and things to add in the new repo https://github.com/merely-useful/merely-useful.github.io (note, I am no web designer, so very much open to ideas about appearance etc).

[2020-09-05 20:27] k8hertweck commented on #359
We have a repo for Amira's zipf project, with complete version history: https://github.com/amira-khan/zipf

Most figures are updated to show the process of creating this repo (though #405 remains).

I'd be happy to update the text output in the Git chapters (e.g., `git log`) to reflect the SHA identifiers if there aren't going to be subsequent changes to the repo.

The repo only includes the code

[2020-09-05 20:35] k8hertweck commented on #461
[code]

[2020-09-05 22:28] DamienIrving commented on #359
Eventually I think we do need to go through and add every commit for the remainder of the chapters, because there are a few places where we will need to update the existing screen shots (which are taken from my personal github account) with screen shots taken from Amira's account:
- Figure 11.4: A screenshot from Travis CI linked to Amira's GitHub account
- Figure 12.1: A tagged release of Amira's

[2020-09-06 12:57] #342 closed

[2020-09-06 12:57] #259 closed

[2020-09-06 12:58] lwjohnst86 commented on #396
Probably not at this phase of the book, maybe in the other books.

[2020-09-06 12:58] #396 closed

[2020-09-06 12:59] #339 closed

[2020-09-08 11:46] #455 closed, assigned to nobody

[2020-09-09 15:38] gvwilson opened #474 "Chapter headings in HTML ToC for solutions are wrong"
`make html` then view:

![Screen Shot 2020-09-09 at 11 37 57 AM](https://user-images.githubusercontent.com/911566/92620742-feaa2f80-f290-11ea-848e-29529a816047.png)

[2020-09-09 16:25] gvwilson opened #476 "Reconcile ./CONTRIBUTING.md and ./.github/CONTRIBUTING.md"
We have two `CONTRIBUTING.md` files with different content.

1. Get it down to one.
2. Make sure that file is included in the build for both HTML and PDF.
3. Make sure the URL in `teams-ex-scavenger-hunt` in `./chapters/solutions.Rmd` points at the correct file.

[2020-09-09 18:22] lwjohnst86 commented on #474
Weird... I'll figure it out Friday

[2020-09-11 11:34] #201 closed

[2020-09-11 12:44] lwjohnst86 commented on #474
Hm, I think this is an issue with the fact that `\@ref` includes a link to a section, which is exactly what the TOC does too. So the TOC can't have two href links in the same space. I'll look into other ways of getting the number displayed without including the href.

[2020-09-12 08:53] #438 closed

[2020-09-12 15:39] #474 closed, assigned to lwjohnst86

[2020-09-13 11:34] gvwilson opened #486 "Layout issues with HTML title page"
1.  We need to insert the dedication from `includes/before_body.tex` into the HTML version _without_ duplicating it in the PDF version.

2. The tugboat image on the first page of the HTML version seems awkwardly placed - can we instead emulate something like http://js4ds.org/ ?

![Screen Shot 2020-09-13 at 7 31 53 AM](https://user-images.githubusercontent.com/911566/93017009-834bc500-f593-11ea-998

[2020-09-13 11:51] #476 closed, assigned to lwjohnst86

[2020-09-13 16:24] cwickham commented on #461
[code]

[2020-09-13 23:16] #461 closed, assigned to gvwilson

[2020-09-14 01:05] #228 closed

[2020-09-14 12:46] lwjohnst86 commented on #486
Yea, I was mimicking what books like https://r4ds.had.co.nz/. I could also make it like https://bookdown.org/yihui/bookdown/... I'll test out your suggestion, just not sure it will look good with the gitbook format.

[2020-09-14 13:51] #486 closed, assigned to lwjohnst86

[2020-09-14 21:03] gvwilson opened #490 "bug in glossary reference translation"
Spotted 17:00 Eastern on 2020-09-14 (look at bullet point 2). The `\gref{Git}{git}` isn't translating.
![Screen Shot 2020-09-14 at 5 02 42 PM](https://user-images.githubusercontent.com/911566/93137926-3b6c9100-f6ac-11ea-9534-3e725efe6b3e.png)

[2020-09-14 21:28] lwjohnst86 commented on #490
Ah, I fixed that bug in the Prerequisites https://merely-useful.github.io/py-rse/index.html#intro-personas didn't see there was a duplicate in Appendix E. Not sure why it happens, but when `\gref` is used alone on a line, it disappears. Simplest fix I did was do:

    - \gref{Git}{git} version control

[2020-09-14 23:51] gvwilson commented on #490
Pandoc labels the parse node as a different type if it's all by itself vs. part of a sentence. Fixed the Lua to catch it.

[2020-09-15 10:43] #490 closed, assigned to gvwilson

[2020-09-16 00:07] DamienIrving opened #492 "Bug with web links to YAML and Working Remotely Appendices"
In the side panel of the web version of the book (at https://merely-useful.github.io/py-rse/), clicking on "L YAML" and "M Working Remotely" takes you to the glossary entries for YAML and ssh instead of the content in `chatpers/yaml.Rmd` and `chapters/ssh.Rmd`.

[2020-09-17 09:54] #492 closed, assigned to lwjohnst86

[2020-09-20 11:57] gvwilson commented on #441
Data science bootcamps, e.g.:

-   Insight Data Science: https://insightfellows.com/
-   Flatiron: https://flatironschool.com/career-courses/data-science-bootcamp/online
-   BrainStation: https://brainstation.io/course/online/data-science

Master's programs:

-   UBC: https://masterdatascience.ubc.ca/
-   A list (no idea how representative it is): https://www.mastersindatascience.org/schools/23-gr

[2020-10-01 00:41] DamienIrving opened #499 "Discussion: How do we manage updates after the book is published?"
I'm assuming that once we've sent the final manuscript off to be published, we'll tag release v1.0.0 in GitHub.

What happens after that?

If readers of the book submit PRs or issues and changes are made to the book, are those changes immediately pushed to the web version of the book at https://merely-useful.github.io/py-rse/ like changes are now? Or do we wait until a bunch of changes come in and

[2020-10-01 00:53] DamienIrving opened #500 "Bug in filesystem figure"
In [`figures/bash-basics/sample-filesystem.png`](https://github.com/merely-useful/py-rse/blob/book/figures/bash-basics/sample-filesystem.png) there's a `/Users/tmp/` directory, but later on when the following command is run there's no `tmp` directory.

[code]

[2020-10-01 00:59] DamienIrving opened #501 "Create our own git commands figure"
[figures/git-cmdline/git-remote.png](https://github.com/merely-useful/py-rse/blob/book/figures/git-cmdline/git-remote.png) shows the common git commands (`add`, `commit`, `push`, etc) and how they relate to the current workspace, staging area, local git repo and the remote repo. I'm not sure where it came from and it contains some commands that we don't discuss in this book (e.g. `fetch`), so I th

[2020-10-01 03:16] k8hertweck commented on #501
Oof, this has been on my to-do list. I got hung up on trying to get draw.io to play well. I’ll buckle down and make the revisions happen this weekend.

Related: are we still holding off on screenshots of the repo for later chapters? In other words, are we anticipating more changes to the code that will be necessary in Amira’s repo?

[2020-10-01 03:17] k8hertweck commented on #500
I have access to the original file; I’ll fix this too.

[2020-10-01 03:29] DamienIrving commented on #501
Thanks, @k8hertweck.

I think we should still hold off on screenshots for the later chapters. While the code is more or less settled now (I'm still working on some exercises that might make minor changes) if the reviewers come back with suggestions about how the code is written (e.g. we might have done something that isn't very pythonic) then things could change.

The order is probably something l

[2020-10-01 14:03] lwjohnst86 commented on #499
I am in favour of tagging as v1.0.0 and then as things go, keep updating the website or encouraging others to contribute. Then we can decide (or the publishers) that enough changes have been made since the first release to update the physical book. But I think the website should be flexible to updates and changes.

[2020-10-05 03:08] DamienIrving opened #504 "Consistency in exercises and solutions"
There's a couple of things I think we need to make sure we are being consistent about in our exercises and solutions.

1. Many of the solutions say "the answer should look like this:". Given there are often many possible answers to the same question (from totally different approaches to simply a different choice of variable name), I wonder if we need to soften the language in the solutions to say

[2020-11-10 22:35] DamienIrving opened #506 "Split the introduction chapter in two"
Most of the current introduction chapter is about course **details** (the big picture, license, audience, syllabus, acknowledgements, dedications). This content needs to be moved into a numberless prologue (perhaps called "Overview" or "Welcome"), along with a new "how to use this book" section (see below) and some text on how to contribute to the book.

Chapter 1 (which we might rename "Getting S

[2020-11-10 22:37] DamienIrving opened #507 "Split the "Basics of the Unix Shell" chapter in two"
The Basics of the Unix Shell (Chapter 2) is too long. It needs to be separated into two chapters, splitting between Sections 2.8 and 2.9. The first chapter will cover single bash commands and the second combining multiple bash commands.

[2020-11-10 22:41] DamienIrving opened #508 "Move package documentation content"
As it stands, Section 13.6 (Package Documentation) is an abrupt (and lengthy) departure from the rest of the Packaging chapter, which focuses more on the nuts of bolts of Python packaging.

This can improved by handing each section as follows:

- 13.6: The opening section introduces the differences between novices, competent practitioners and experts as well as other documentation concepts like a

[2020-11-10 22:43] DamienIrving opened #509 "Review chapter headings"
To be consistent, we need to make sure to apply a "topic with tool" format to all chapter headings.
e.g. Automating Analyses with Make; Tracking Changes with Git

(Although in many cases we only need the topic because the tool is Python and thus obvious/redundant.)

[2020-11-10 22:45] DamienIrving opened #510 "Review figure captions"
We need to review all the figure captions and make sure they are sufficiently descriptive.

[2020-11-10 22:55] DamienIrving opened #511 "Review topic sentences"
We need to read through the first sentence of each chapter section and chapter introduction and make sure that, for the most part, there is a clear "topic sentence" introducing the topic at hand and why we care about it (not necessarily the first sentence, but should happen sometimes before the second or third paragraph).

Notes from the reviewer (@ChristinaLK):

#### Good examples

Introduction t

[2020-11-10 22:57] DamienIrving opened #512 "A mental model for error handling"
Comment from the reviewer (@ChristinaLK):

"I had the most difficulty in following chapter 10 (Error Handling); it was the one chapter where I felt like I didn't have a sufficient mental model to understand the details of the chapter. I'm not sure whether the solution is for me to have a better understanding of Python or for the chapter to more explicitly generate a mental model for errors and exc

[2020-11-11 12:42] gvwilson commented on #509
@gvwilson will do this after #507 is closed.

[2020-11-11 12:42] gvwilson commented on #506
@lwjohnst86 can you please do this one, since it involves figuring out how to unnumbered preface sections in Bookdown?

[2020-11-11 12:44] gvwilson opened #514 "diagram needed in git-cmdline"
grep for `FIXME` in figure caption in `git-cmdline.Rmd` - currently line 899 of source.

[2020-11-11 12:45] gvwilson opened #515 "diagram needed in ssh.Rmd"
grep for `FIXME` in `ssh.Rmd` (diagram of SSH) currently line 41.

[2020-11-11 12:45] gvwilson opened #516 "update workflow diagram in teams.Rmd"
grep for `FIXME` in `teams.Rmd` (currently line 769).

[2020-11-11 14:29] lwjohnst86 commented on #506
Sounds good.

[2020-11-11 18:10] #507 closed, assigned to nobody

[2020-11-11 18:15] gvwilson commented on #405
Can someone with access to Amira's acc't please get a screenshot for this?

[2020-11-11 18:19] gvwilson commented on #453
Can someone please add this in? @cwickham @k8hertweck would you like to take it on?

[2020-11-11 19:01] gvwilson opened #521 "Make callout boxes look better in PDF version"
@gvwilson will chase this up with the publisher when we're done other changes.

[2020-11-11 19:02] cwickham opened #522 "Expanding the finale to revisit profiles"
From the review by @ChristinaLK:

 revisit the profiles from the first chapter, and what chapters of
the books were helpful to each person in achieving their goals. E.g.
"Amira now has her scripts organized in a repository, following the
project scheme described in this book. She made a documentation page
for her repository so her co-workers are able to see the work she's
done..." etc. Not necessa

[2020-11-11 19:02] gvwilson opened #523 "Flesh out finale"
cc @cwickham

[2020-11-11 19:03] cwickham commented on #523
Duplicate of #522 ;)

[2020-11-11 19:03] #523 closed, assigned to cwickham

[2020-11-11 19:07] cwickham commented on #453
I'll take this.

[2020-11-11 19:13] cwickham commented on #504
1. I agree, softer language.
2. I agree. Is there a way we can leverage the persona Git histories once we have them?  E.g. would it be better for the question to link to a version of, say, `plotcounts.py` in Amira's GitHub repo? Pros: we don't have to include large code chunks in question. Cons: not sure if this adds a maintenance burden for future code/exercise changes.

[2020-11-11 19:15] cwickham commented on #504
And I guess in the meantime (i.e. before we have complete persona Git histories), I'm for putting the full code in the question.  That way, it's clear to us, what the starting point is if we are later trying to match to a commit in the Git histories.

[2020-11-11 20:23] joelostblom commented on #504
Agree with both, I think we only need to add the full code to the solutions, right? Not the questions also, so it wouldn't be too intrusive.

[2020-11-11 20:36] #516 closed, assigned to gvwilson

[2020-11-12 11:14] #500 closed, assigned to k8hertweck

[2020-11-12 11:22] #453 closed

[2020-11-12 12:10] lwjohnst86 commented on #469
There's a way to do it in knitr, but it might not output as prettily given how they are currently written.

[2020-11-12 12:30] lwjohnst86 opened #528 "Dedication currently only in HTML version, have in PDF too?"
I can't recall why we decided to put it in HTML only, but I assume we want it in both?

[2020-11-12 12:43] gvwilson opened #529 "Proposal: change title"
Following comments in #518, we have three proposals for a title:

1. *Research Software Engineering with Python* (current title)
2. *Research Software Engineering with Python: Building software that makes research possible* (same with subtitle)
3. *Writing Research Software with Python* (avoids the term "RSE")

Please vote for your favorite by adding a comment to this issue.

[2020-11-12 13:51] lwjohnst86 commented on #529
2 (though I'm also partial to 3 since I agree that "engineering" word could be a bit intimidating)

[2020-11-12 15:55] cwickham commented on #529
2

[2020-11-12 16:35] lwjohnst86 commented on #528
My mistake, it does show up. It's used in the tex file/preamble. Closing.

[2020-11-12 16:35] #528 closed, assigned to nobody

[2020-11-12 16:35] k8hertweck commented on #529
3

[2020-11-12 17:41] joelostblom commented on #529
Slight preference for 2. But I don't really think I have enough expertise on book titles or RSE for my vote to count the same as others who do, so happy for it to be overridden with a good motivation for one of the other titles.

[2020-11-13 18:43] #522 closed, assigned to cwickham

[2020-11-13 18:43] #506 closed, assigned to lwjohnst86

[2020-11-13 18:54] gvwilson commented on #529
2

[2020-11-13 19:06] #508 closed, assigned to DamienIrving

[2020-11-13 19:56] #529 closed, assigned to gvwilson

[2020-11-15 11:24] gvwilson commented on #504
@joelostblom do you have time to do a pass on this?

[2020-11-15 13:15] #509 closed, assigned to gvwilson

[2020-11-16 13:30] #510 closed, assigned to k8hertweck

[2020-11-16 13:33] #469 closed, assigned to lwjohnst86

[2020-11-16 18:54] #521 closed, assigned to gvwilson

[2020-11-16 21:06] joelostblom commented on #504
Yes, what is the timeline? I'ave had some unfortunate personal events to deal with, so behind on everything right now. Should be able to get to this on the weekend or early next week, does that work?

[2020-11-17 11:13] #515 closed, assigned to cwickham

[2020-11-24 00:53] DamienIrving commented on #511
Related to this task: The introductory text in "Building Tools with the Unix Shell" is a little messed up after the transition from two bash chapters to three. For instance, it talks about scripts, which aren't introduced now until the following chapter.

[2020-11-24 09:18] lwjohnst86 opened #543 "Difference in directory tree between HTML and PDF. Fix."

[2020-11-24 11:19] gvwilson commented on #511
Addressed in #544.

[2020-11-25 04:08] joelostblom commented on #512
I will PR this tomorrow, sorry for the delay.

[2020-11-25 04:36] DamienIrving opened #546 "Unix shell solutions with old data files"
There are a bunch of solutions for exercises in "Building Tools with the Unix Shell" and "Going Further with the Unix Shell" that haven't been updated from when they used Software Carpentry data files (e.g. `pentane.pdb`, `cubane.pdb`, etc). It looks like the exercises in the chapters have been updated to use our data files (i.e. `dracula.txt`, etc) but not the solutions.

[2020-11-25 10:12] #543 closed, assigned to lwjohnst86

[2020-11-25 15:38] ChristinaLK commented on #512
@joelostblom if you tag me when you submit the PR, I will make a best effort to review. :)

[2020-11-27 05:47] #514 closed, assigned to k8hertweck

[2020-11-27 05:58] k8hertweck commented on #504
I'm coming back to this now that I'm working on Amira's repo. I'll reference relevant commits in solutions, which will also help keep me on track.

I just checked links and Amira's repo isn't currently included. I'm not sure how to reference this in the narrative, in terms of indicating that it exists as reliable resource. In particular, I'm not sure where to include it (index or solutions? elsewh

[2020-11-27 19:10] gvwilson opened #553 "Check formatting of citations"
Sometimes we use `@Nobl2009`, which produces `Noble (2009)`, but sometimes we use `[@Nobl2009]`, which produces `(Noble 2009)`. Is this deliberate, or should we do a pass to make them consistent?

[2020-11-27 19:21] k8hertweck commented on #553
I suspect this isn't always deliberate, but that we can't assume consistency will solve it (some places may reference the author's name as a part of the narrative). This is normally the type of thing I'd love to do, but I won't be able to get to it till probably Sunday.

[2020-11-27 20:33] DamienIrving commented on #553
This is deliberate. `@Nobl2009` is the equivalent of `\citet` (a textual citation) and `[@nobl2009]` is like `\citep` (a parenthetical citation).

[2020-11-27 20:37] gvwilson commented on #553
Well, I'm glad I didn't "fix" it then :-)

[2020-11-27 20:37] #553 closed, assigned to nobody

[2020-11-27 21:51] DamienIrving opened #555 "Separate solutions files for each chapter"
`chapters/solutions.Rmd` is getting pretty large and unwieldy.

We have dedicated `keypoints/` and `objectives/` directories with separate files for each chapter - we probably need to do the same thing for solutions.

[2020-11-27 22:10] DamienIrving commented on #504
@k8hertweck Yeah, it's hard to know how much to reference Amira's repo. If we were writing the book and then not planning on ever doing any updates to the online content, then it would be fine. What I'm a little worried about is that 3 months from now we'll get a PR on the `py-rse` repo which will change something slightly, and then Amira's repo will be out of sync with the online version of the b

[2020-11-27 23:33] k8hertweck commented on #504
But there will be print versions of the book, so the references will still match that? I suppose this goes back to #499 , and what our expectations are about updating after publication. I don't think we'll be able to recreate the entire git history when changes happen, but we can at least keep Amira's repo up to date with what we expect the final project will be.

[2020-11-27 23:54] k8hertweck opened #556 "EOF newline"
Nothing in `bin/` in the Zipf's Law project directory currently includes a newline at the end of the file, though `requirements.txt` and files in `results/` do. Do we need to include a callout about this, especially since some text editors and git interfaces yell at users about it?

[2020-11-28 04:00] DamienIrving commented on #504
Good point. We should just make Amira's repo consistent with the print book and then deal with any inconsistencies that arise with updated versions of the online book if/when that problem arises (it might not be a problem at all).

[2020-11-28 12:01] gvwilson commented on #555
:-1: `solutions.Rmd` is only slightly larger than `git-advanced.Rmd`, and since we're trying to wrap this, I think any surgery that doesn't materially affect the PDF is out of scope.

[2020-11-28 12:01] gvwilson commented on #512
I believe #550 fixes this.

[2020-11-28 15:49] lwjohnst86 commented on #555
Yea, I agree with @gvwilson, I don't think its necessary at this point, even if its large.

[2020-11-28 15:56] #512 closed, assigned to joelostblom

[2020-11-28 21:38] k8hertweck commented on #556
[PEP8 standards](https://pep8.readthedocs.io/en/release-1.7.x/intro.html) include an expectation for an empty line: "W292 | no newline at end of file". Clearly this doesn't prevent the code from functioning as expected, though. I know our python code has been run through a linter; is there a reason why we haven't included empty lines?

I'm inclined to add a pop-out to the advanced shell chapter th

[2020-11-28 22:34] #546 closed, assigned to nobody

[2020-11-28 22:39] DamienIrving commented on #556
I think we should definitely include a newline at the end of all our bash scripts, python scripts and makefiles. For some reason `pycodestyle` didn't pick up that problem when I ran it on the python scripts in `zipf/bin`, but it should have.

A pop-out in the advanced shell chapter would work - for python scripts it might also be worth mentioning it in the "writing readable code" appendix.

[2020-11-29 04:28] k8hertweck commented on #556
Great, I’ll include these items in #554 . Thanks for the confirmation!

[2020-11-29 19:46] k8hertweck commented on #501
Comments above from @DamienIrving on Amira's repo will be closed by #554

[2020-11-29 21:25] #511 closed, assigned to gvwilson

[2020-11-30 02:47] k8hertweck opened #559 "Rendering issues"
Not sure how relevant these are right now, but keeping track as I proceed:

- `history` in [Chapter 3 key points](https://merely-useful.github.io/py-rse/bash-tools.html#bash-tools-keypoints) has an arrow in the middle
- [Fig 6.3](https://merely-useful.github.io/py-rse/git-cmdline.html#fig:git-cmdline-staging-area) has an icon that isn't appearing

[2020-12-01 03:24] k8hertweck commented on #405
Addressed in #560

[2020-12-01 19:12] k8hertweck opened #564 "Random word generator library is tricky"
The library we use to create a list of random words for [testing](https://merely-useful.github.io/py-rse/testing.html#testing-integration) seems to be a bit [unstable](https://github.com/vaibhavsingh97/random-word/issues/41), we might want to include a contingency plan.

[2020-12-01 20:00] k8hertweck opened #565 "Working directory for testing?"
I've put on my freshest eyes as I've been stumbling through the run though for #560 . The more I proceed, the more I realize how desperately I would want to have Amira's repo as a reference. Understanding where pieces of code go in each file is really really useful, and I've got commits for each chapter/section (that can also be tagged as such).

The biggest stumbling block has been reconciling ch

[2020-12-01 21:08] DamienIrving commented on #565
The first thing to say is that running `pytest` from the `~/zipf` directory works fine, because `test_zipfs.py` is located in `~/zipf/bin` along with the scripts it imports (`countwords.py` etc) and according to the [definitive guide to python import statements](https://chrisyeh96.github.io/2017/08/08/definitive-guide-python-imports.html):
* `import` statements search through the list of paths in

[2020-12-01 21:17] k8hertweck commented on #565
Thanks so much for the well-reasoned and thorough explanation; I am comforted by the knowledge that this is a common stumbling block and my brain isn't simply turning to mush from trying to consume a book's worth of knowledge in a few days.

I'll include these changes in #560

[2020-12-01 21:55] DamienIrving commented on #564
That's a shame, because there are only two random word generation libraries that I could find:
- [`random_word`](https://github.com/vaibhavsingh97/random-word) (which is the unstable one)
- [`RandomWordGenerator`](https://github.com/AbhishekSalian/Random-Word-Generator)

The latter will be more stable because it isn't actually sourcing real words from anywhere, it just mashes together a random sel

[2020-12-02 03:48] k8hertweck commented on #564
Included in #560

[2020-12-02 17:08] k8hertweck commented on #565
resolved by d78fd0e2

[2020-12-02 17:08] #565 closed, assigned to nobody

[2020-12-02 17:08] k8hertweck commented on #564
resolved by d78fd0e2

[2020-12-02 17:08] #564 closed, assigned to nobody

[2020-12-02 17:13] k8hertweck commented on #405
resolved by 2ea176b

[2020-12-02 17:13] #405 closed

[2020-12-02 17:33] #556 closed, assigned to nobody

[2020-12-02 17:34] k8hertweck commented on #501
Closing this since #359 covers this in more detail

[2020-12-02 17:34] #501 closed, assigned to k8hertweck

[2020-12-07 21:11] DamienIrving opened #568 "Should we publish our zipf package to PyPI and Read The Docs?"
In the packaging chapter we talk about uploading our `zipf` package to PyPI and documentation to Read The Docs, but we don't actually do it. I'm wondering if that's how we want to leave things, or if we do want to actually have it out there as a package (linked to Amira's GitHub account)?

One problem is that there's already a package called `zipf`, so we'd have to pick a different name like `zipf

[2020-12-07 21:14] DamienIrving commented on #568
Putting our documentation up on Read The Docs will also force us to resolve #410

[2020-12-07 21:16] DamienIrving commented on #568
@k8hertweck I you don't want to potentially mess up Amira's repo, I could update the relevant text/narrative in the packaging chapter by testing everything on a new `pyzipf` package created from my GitHub account, then once I'm confident it all works I could delete it and you could re-create with Amira's account?

[2020-12-07 21:17] gvwilson commented on #568
:+1: good catch

[2020-12-08 18:05] k8hertweck commented on #568
@DamienIrving This works! I'm still trying to figure out whether I can manage tags for different places in the repo, and making sure code is consistent among narrative/solutions/etc. Thanks for continuing with the proofreading and I'll await the info about PyPI!

[2020-12-08 21:15] joelostblom commented on #504
Sorry for the delay here, I should finish this today or tomorrow.

[2020-12-08 21:48] k8hertweck commented on #504
@joelostblom I've done some work on this already, and some additional work in the slow slog of #560 . Might be worth taking a look. I've also standardized some of the code between narrative and solutions

[2020-12-08 21:56] DamienIrving commented on #504
I also made some fixes to the solutions in #567, which was just merged (although you'll need to use `make html` to view the changes because https://merely-useful.github.io/py-rse is having some pandoc installation issues and isn't showing the latest version of the `book` branch in the repo at the moment)

[2020-12-08 22:43] joelostblom commented on #504
Thank you! Do you want me to work of either one of those two branches or wait for both of their changes to be in the book branch?

[2020-12-09 00:23] DamienIrving commented on #410
Turns out the problem was that we removed our implicit relative imports, e.g.
[code]
and replaced them with absolute imports, e.g.
[code]
(Explicit relative imports like `from . import plotcounts` also break Sphinx and Read The Docs.)

If we stick with our original implicit relative imports everything is fine.

[2020-12-09 01:42] DamienIrving opened #570 "Website build pandoc error"
Looks like the book isn't rendering online because of an issue installing pandoc?
https://github.com/merely-useful/py-rse/runs/1520063664

[2020-12-09 03:15] joelostblom commented on #570
It seems like [pandoc has moved away from using `pandoc-citeproc` as a separate package](https://github.com/jgm/pandoc-citeproc#pandoc-citeproc) and [instead relies on the new citeproc library](https://github.com/jgm/citeproc). I checked the old GH actions jobs and they all have a warning that pandoc-citeproc is deprecated in homebrew, in your latest job it was finally disabled in homebrew so not

[2020-12-09 03:15] #570 closed, assigned to lwjohnst86

[2020-12-11 02:50] #410 closed

[2020-12-11 02:50] #568 closed, assigned to nobody

[2020-12-12 23:32] DamienIrving opened #572 "PDF call-out boxes don't show link URLs"
In the PDF document, the URL for links in call-out boxes don't show up in the footnotes.

Here's a couple of examples...

<img width="408" alt="Screen Shot 2020-12-13 at 10 30 11 am" src="https://user-images.githubusercontent.com/2062210/101999147-488e3000-3d2e-11eb-8599-d261fd62ede7.png">
<img width="406" alt="Screen Shot 2020-12-13 at 10 30 24 am" src="https://user-images.githubusercontent.com/2

[2020-12-13 11:54] gvwilson commented on #559
I'll tackle these once @k8hertweck 's changes go in.

[2020-12-13 11:54] gvwilson commented on #572
@lwjohnst86 can you please contact Shashi Kumar about this one (or I can if you'd rather)? This is very deep in the guts of the LaTeX class file...

[2020-12-13 21:35] lwjohnst86 commented on #572
For sure! I'll do that tomorrow morning

On Sun, 13 Dec 2020, 06:55 Greg Wilson, <notifications@github.com> wrote:

[2020-12-19 16:27] lwjohnst86 opened #576 "Migrate Travis CI content over to .com (vs .org)"
They're moving everything over. Not sure how much it will impact the CI lesson.

[2020-12-19 16:29] k8hertweck commented on #576
I've got it covered in #560 ; links are updated and I'll be working with Amira's repo there (when I get to it in a few hours)

[2020-12-19 17:36] lwjohnst86 commented on #572
Shashi responded with fixes to the tex file, but I've gotta figure a way to include the fixes into the pandoc template... so might take a bit for this. Working on it though.

[2020-12-19 17:37] #555 closed, assigned to lwjohnst86

[2020-12-19 17:39] #499 closed, assigned to nobody

[2020-12-19 20:49] DamienIrving opened #578 "PDF build failing"
Anyone else getting this error now when building the pdf from the `book` branch?

[code]

[code]

[2020-12-20 08:20] #576 closed, assigned to nobody

[2020-12-20 17:06] lwjohnst86 commented on #578
This should be closed from #579 right?

[2020-12-20 19:45] DamienIrving commented on #578
No, I'm still getting the input file errors after the merge of #579

[2020-12-21 10:46] #255 closed

[2020-12-21 10:46] #359 closed

[2020-12-21 10:46] #504 closed, assigned to cwickham, k8hertweck, joelostblom

[2020-12-21 10:53] gvwilson commented on #559
1. No arrow showing up in Chapter 3 key points in either PDF or HTML.
2. Fig 6.3 (The staging area in Git) looks good to me.

[2020-12-21 10:53] #559 closed, assigned to gvwilson

[2020-12-21 10:53] gvwilson commented on #572
@lwjohnst86 if you can forward what Shashi sent to me I'll take a look.

[2020-12-21 10:54] gvwilson commented on #578
I'm getting a clean build as of 77ff4d626

[2020-12-21 14:13] gvwilson opened #582 "Proposal: ship it"
## Proposal

Send PDF as of ~~77ff4d62~~ https://github.com/merely-useful/py-rse/commit/097b3d32bd5f459b22efb2fc8874f84620276470 to publisher.

## Background

<img width="1037" alt="Screen Shot 2020-12-20 at 8 47 53 am" src="https://user-images.githubusercontent.com/911566/102785823-92999600-436c-11eb-8c0d-bba31a77cff9.png">

## Pros and Cons

**Pro:** We'll have it in before the end of the year.

[2020-12-21 17:10] lwjohnst86 commented on #582
I think we should ship after merging #584, that would fix that footnote problem.

[2020-12-21 18:05] #572 closed, assigned to lwjohnst86

[2020-12-21 18:11] lwjohnst86 commented on #582
PDF and tex have been built and added to https://github.com/merely-useful/py-rse/commit/097b3d32bd5f459b22efb2fc8874f84620276470. Let's ship this one.

[2020-12-21 18:13] lwjohnst86 commented on #582
We had some issues building the book, but its a latex package dependency issue that we don't really have control of. But otherwise, this is the version we should ship.

[2020-12-21 18:15] #578 closed, assigned to nobody

[2020-12-21 18:16] lwjohnst86 commented on #578
i think many of these issues are tex package dependency issues that we can't really control. GitHub Actions can build the pdf just fine, so closing this.

[2020-12-21 20:55] DamienIrving commented on #441
Talk Python To Me podcast: https://talkpython.fm/

(I was on it a few years ago, so I could reach out to the host.)

[2020-12-21 22:13] ChristinaLK commented on #441
: delurks :
I help organize the CaRCC research-facing track, so I could easily try to get this on the agenda. :grin:

I'd also be willing to help organize a Carpentries discussion session about this.

[2021-01-09 21:30] DamienIrving commented on #441
I'm giving a talk to the [Data Intensive Studies Center at Tufts University](https://disc.tufts.edu/). Here's the abstract I put together in case others need abstracts in future:

**Research Software Engineering with Python**

Most researchers pick up enough coding to get their own work done. Whether through an undergraduate introduction to programming course, Carpentries workshop, online tutorial

[2021-01-10 22:36] #582 closed, assigned to gvwilson

[2021-01-10 22:40] lwjohnst86 opened #589 "Cover template? Which one?"
Which one do you guys prefer? From https://www.routledge.com/go/cover_templates?PageSpeed=noscript

I like 14 or 16.

[2021-01-10 23:27] DamienIrving commented on #589
I agree that 14 and 16 are probably the best options. I'll vote for 14.

[2021-01-10 23:46] DamienIrving opened #590 "Web sidebar not resolving chapter numbers for solutions sub-headings"
<img width="248" alt="Screen Shot 2021-01-11 at 10 44 27 am" src="https://user-images.githubusercontent.com/2062210/104138730-1db0fd80-53fa-11eb-9582-18f3983372cd.png">

[2021-01-11 00:27] lwjohnst86 commented on #590
You can't have a link within a link. The sidebar links to the solutions in
the chapter, and the ref links to chapter itself. I'd suggest including the
ref link in text below the header or unlink header from the sidebar.

On Sun, 10 Jan 2021, 18:46 Damien Irving, <notifications@github.com> wrote:

[2021-01-11 05:58] sida-wang opened #594 "Issue with exercise 3.8.7"
Given `titles.txt` as
[code]
from exercise 3.8.5, options 3 and 4 (listed below) from exercise 3.8.7 give the same answer. Here the goal is to generate a frequency table of publishing year.
3. `cut -d, -f 2 titles.txt | uniq -c`
4. `cut -d, -f 2 titles.txt | sort | uniq -c`

However the solutions state that 3 is incorrect. The main issue here is that `titles.txt` is already sorted by year which me

[2021-01-11 16:02] k8hertweck commented on #589
14 for me too!

[2021-01-11 20:57] DamienIrving commented on #594
Thanks, @sida-wang! I like your suggestion of simply sorting `titles.txt` alphabetically. I've done that in #595.

[2021-01-11 23:34] cwickham commented on #589
14 looks good to me.

[2021-01-12 07:51] sida-wang opened #597 "Wheel distribution explanation"
Section 14.5 mentions two types of distributions: source distributions and wheel distributions. While source distributions are explained and have a glossary term, wheel distributions are mentioned once in the sentence

I think it might be worth having an extra sentence that explains what it is as well as a glossary term. My google searches suggest that its a built version of the source code which

[2021-01-12 15:47] #594 closed, assigned to nobody

[2021-01-12 22:24] DamienIrving commented on #597
Thanks for picking this up, @sida-wang.

Despite that fact that we say in text that "we have now uploaded both types of distribution", we actually only upload the source distribution:

<img width="1155" alt="Screen Shot 2021-01-13 at 9 04 51 am" src="https://user-images.githubusercontent.com/2062210/104379998-6ee9fa00-557e-11eb-8ce5-ff8072f19526.png">

That's because we ran:
[code]
instead of:
[co

[2021-01-13 00:13] DamienIrving commented on #597
I've implemented option 1 in #599

[2021-01-14 10:25] #597 closed, assigned to nobody

[2021-01-14 10:43] DamienIrving opened #601 "Missing glossary links"
In the online version of the book there a whole bunch of within-glossary gref links to other glossary items that don't exist (e.g. python, r_language, package, etc).

[2021-01-14 10:51] DamienIrving commented on #601
Note that this is only an issue for the online version of the book, because in the PDF version within-glossary references to other glossary items are not highlighted.

[2021-01-14 10:52] DamienIrving commented on #590
Note that this is only a problem for the web version of the book and shouldn't hold up the submission of the PDF manuscript to the publisher.

[2021-01-14 16:39] lwjohnst86 commented on #590
Didn't realize it already existed. I have a recollection that I fixed this
or did something to it. I'll try to fix it.

On Thu, 14 Jan 2021, 05:52 Damien Irving, <notifications@github.com> wrote:

[2021-01-25 12:57] #589 closed, assigned to nobody

[2021-02-04 07:57] Zrealshadow opened #604 "Tiny Mistake: Misspelling in "to""
In  `teams.rmd` file, line 516.
![image](https://user-images.githubusercontent.com/30857435/106861943-67db8500-6701-11eb-8078-2b569857b91b.png)
I think here should be "referred to"

By the way, it's an excellent book, thanks for your work.

[2021-02-05 03:01] #604 closed, assigned to nobody

[2021-02-05 03:03] DamienIrving commented on #604
All fixed. Thanks, @Zrealshadow!

Glad to hear you enjoyed the book.

[2021-02-07 20:29] vaibhavsingh97 commented on #564
I had released a new version on PyPI (https://pypi.org/project/Random-Word/1.0.6/), which will fix recent issues. Next weekend, I will refactor the whole repository to support multiple sources like Oxford, etc

PS: I didn't know that this small project would blow up, as I made this because I wanted to use this in one of my projects at university.
 Cc @k8hertweck / @DamienIrving

[2021-02-22 16:14] gvwilson opened #605 "Discussion: greyscale"
Please vote up or down on CRC Press's proposal to print the book in greyscale. (Sample attached.)

[python-rse_grey.pdf](https://github.com/merely-useful/py-rse/files/6023340/python-rse_grey.pdf)

[2021-02-22 16:17] joelostblom commented on #605
I would personally prefer color for the syntax highlighting (assuming there will be some applied?). I am OK with grayscale if most others want it, but think it looks less engaging, e.g.:

![image](https://user-images.githubusercontent.com/4560057/108736169-370f9400-74e6-11eb-92ca-350a4d40bbc9.png)

[2021-02-22 16:21] lwjohnst86 commented on #605
I was originally going to say, yea greyscale is fine... but didn't even check into the syntax highlighting that @joelostblom brought up... So I am going to agree with Joel about colour just for that reason.

Also, partly related... why do some of the images look smaller? We fixed them previously...

[2021-02-22 17:47] k8hertweck commented on #605
Yeah, we need to fix those figure sizes. Sigh.

If we do leave in greyscale, there are a few places we may need to update language-- in particular, the caption for at least one of the GitHub figures includes references to color. There may be references to color in a few other figures, too (I'm thinking of the screen caps from the packaging chapter).

This may be mitigated by explicitly stating tha

[2021-02-22 20:59] DamienIrving commented on #605
I agree that syntax highlighting is pretty important - it's hard to parse large sections of code without it. The price differential isn't that large, so I'd be inclined to vote for color printing.

Picking up on @lwjohnst86's comment, the sample manuscript is definitely not the latest version that we sent to them. As well as the miniature figures (which we fixed), there's also a bunch of overflow

[2021-03-08 16:43] gvwilson opened #607 "Notes to Taylor & Francis editor"
Please add items to this list to send to T&F proof reader:

-   We write "timestamp" as a single word in keeping with Unix convention.
-   p316: the double blank line in the first code sample is deliberate (Python style).

[2021-03-08 16:45] gvwilson opened #608 "Formatting: (verbatim) text too wide"
All page numbers refer to the PDF sent by T&F on 2021-03-04.

-   p49: move fixed-width text within page margin. (I'll call this "verbatim too wide" below.)
-   p50: verbatim too wide.
-   p54: verbatim too wide.
-   p71: verbatim too wide (x2).
-   p76: verbatim too wide.
-   p92: verbatim too wide.
-   p93: verbatim too wide (x2).
-   p94: verbatim too wide (x2).
-   p95: verbatim too wide.
-

[2021-03-08 16:46] gvwilson opened #609 "Formatting: wrong section numbers in running headings"
This is clearly a problem with the LaTeX template; all page numbers taken from the PDF returned by T&F on 2021-03-04:

-   p11: editor wants "1.4 Summary" instead of "1.6 Summary" in the u-   p-   per left, i.e., the first new section number not the last. (I'll call this 'wrong section number' below.)
-   p25: wrong section number (wants 2.3).
-   p33: wrong section number (wants 2.9).
-   p55: wr

[2021-03-08 16:47] gvwilson opened #610 "Formatting: figure issues"
Based on PDF returned by T&F on 2021-03-04; some of these may have been fixed.

-   p44: check size of Figure 3.1.
-   p46: check size of Figure 3.2.
-   p169: check black border on screenshot Figure 7.4.
-   p197: change "Cancelled" to "Canceled" in Figure 8.3.
-   p408: fix size of Figure E.1.

[2021-03-08 16:48] gvwilson opened #611 "Formatting: miscellaneous issues"
All page numbers taken from the PDF returned by T&F on 2021-03-04:

-   p65-66: output of shell command at bottom of p65 shows up on p66.
-   p97: output line at top of page should appear on previous page.
-   p109: move first line of listing to next page.
-   p147: need blank lines before formulas.
-   p254: need space before equation.
-   p323: the callout box overlaps the title---need to introd

[2021-03-10 12:55] #608 closed, assigned to DamienIrving

[2021-03-10 14:57] lwjohnst86 commented on #609
As you say, its probably a problem of the template or the version they were using. I'll check it out tomorrow.

[2021-03-11 16:18] lwjohnst86 commented on #609
I've looked through the `krantz.cls` template trying to debug and figure out the problem and I have concluded I have no idea what's going on it there. We'll have to send to our latex expert.

[2021-03-11 16:19] gvwilson commented on #609
:+1: Will you mail Shashi or do you want me to do it?

[2021-03-11 16:19] lwjohnst86 commented on #609
Doing it now :)

[2021-03-12 11:17] #610 closed, assigned to k8hertweck

[2021-03-12 11:23] #605 closed, assigned to nobody

[2021-03-12 11:26] gvwilson commented on #609
Closed by 681db757

[2021-03-12 11:26] #609 closed, assigned to lwjohnst86

[2021-03-15 07:30] joelostblom opened #618 "Proofreading comments"
Looks GREAT overall! Thank you for all the work getting this together. I went through it starting at the end to have fresher eyes on those sections, so most of my comments are there. All are minor:

1. It looks a bit odd with all the white space at the end of page 20 after `data/`, not sure if there is a good solution. Similar but less noticeable on page 26.

2. It would be nice if there was some

[2021-03-15 10:56] #611 closed, assigned to nobody

[2021-03-15 11:05] gvwilson commented on #618
Thanks for the feedback - I think we've now incorporated what we can, and yeah, the glossary hyperlinks were noted in #601. Would you like to tackle this one?

[2021-03-16 01:20] joelostblom commented on #618
Oh, I missed that issue! Sorry I wont be able to work on it any time soon, I'm drowning a bit at work. But if it is a longer term item not for the publication, I can help in a few weeks (maybe 4-5 weeks).

[2021-03-16 01:20] #618 closed, assigned to nobody

[2021-06-04 23:21] DamienIrving commented on #441
+1 to @ChristinaLK's idea of a Carpentries [discussion session](https://carpentries.org/community_discussions/).

I guess the topic of the discussion could be "delivering Software Carpentry as a university semester course" because we really want some people to take the book and actually use it to deliver a semester course?

We should also write a general blog post about the book for the Carpentrie

[2021-06-04 23:37] DamienIrving commented on #441
We should also try and get a [news item](https://www.software.ac.uk/news) on the Software Sustainability Institute website which can be used in their [weekly news and blog digest](https://www.software.ac.uk/newsletter).

[2021-06-04 23:40] DamienIrving commented on #441
It would be good if one of us presented at a [PyCon](https://pycon.org/) somewhere so we have a video recording about the book to share. Most relevant is probably the [education and training summit](https://us.pycon.org/2021/summits/education-training/) at PyConUS. We've missed the 2021 summit but could aim for 2022.

[2021-06-07 19:41] ChristinaLK commented on #441
@DamienIrving let me know what timing might be good for you/the group (both general date ranges + time of day) and I can try to get the discussions on the calendar.

[2021-06-29 00:17] DamienIrving opened #620 "Replace Travis CI with GitHub Actions?"
In future updates to the book we may wish to replace our use of Travis CI for continuous integration with [GitHub Actions](https://github.com/features/actions).

[2021-06-29 07:09] lwjohnst86 commented on #620
Yes, 100% agree! Actions are so much easier to use and do things with than Travis, from my experience. There are a lot of features over Travis.

[2021-07-12 10:27] jmbuhr opened #621 "Proposal: Add section for `git config --global init.defaultBranch main`"
## Proposal

I am currently reading through your book and very much enjoying it!
With the software community moving away from the outdated and charged default name `master` for the first git branch, you might want to add a paragraph about this to the book. This will
a) help normalize `main` as the default branch and
b) lead to less confusion for new users when they find that the default branch for

[2021-07-13 08:18] jmbuhr commented on #621
Realized that the change is covered in the advanced git chapter, but maybe it could be moved to earlier, where master is first mentioned.

[2021-07-13 17:51] k8hertweck commented on #621
Thanks so much for filing the issue, @jmbuhr ! The default parameters and messages in git changed during the course of the book (in some cases dramatically), and you've identified one of the places in which we needed to make decisions about what to explain and where the explanation should occur in the context of the package development process-- especially since not everyone is going to be running

[2021-07-13 18:46] jmbuhr commented on #621
I can imagine this must be so hard with the pace at which the software landscape is changing. You are doing a great job! I just finished that last chapter and especially liked how you motivated every chapter and step along the way with the real world example.

Maybe a change is not entirely necessary, because GitHub also makes users change the branch name when creating a repository and copy-pastin

[2021-07-20 18:36] vinisalazar opened #622 "Discussion: how to cite this book"
Hi,

I'd like to cite this book in an upcoming paper. Would that be ok? Do you already have a DOI?

Thanks,
Vini

[2021-07-20 18:37] gvwilson commented on #622
[code]

[2021-07-20 18:51] vinisalazar commented on #622
@gvwilson thank you for the blazing fast response!

[2021-07-20 18:51] #622 closed, assigned to nobody

[2021-07-27 00:46] DamienIrving opened #623 "What's the next level up in terms of RSE skills?"
_TLDR: What is the answer to [this twitter thread](https://twitter.com/ZaneSelvans/status/1386408647480147969)?_

I was recently reading over [A National Agenda for Research Software](https://doi.org/10.5281/zenodo.4940274) and the authors essentially define three categories of research software authors (with my simple interpretation of what they are in brackets):

1. Researchers (i.e. writing ana

[2021-07-27 12:25] gvwilson commented on #623
1. Most programmers in industry who get to 3 do so without the "benefit" of a software engineering degree: it's all on-the-job learn-by-imitation-and-googling.
2. I'd like to warm up https://drive.google.com/drive/folders/1kZ3JFO3GZwM7cmV1Syi7Pz0aQ5okfn6t some day; the talk I'm doing next week on software design for data scientists will hopefully turn into a new module for it. I'll retire some of

[2021-07-29 05:26] DamienIrving commented on #623
Thanks, @gvwilson.

1. I suspected as much.
2. It looks like most of the content of those slides is covered in our book... perhaps I'm underselling the book and it does in fact service "2" and "3"?!

[2021-07-29 05:33] DamienIrving opened #625 "Add content on when to (and when not to) use asserts?"
I did a Data Carpentry workshop earlier in the year and some of the very knowledgeable instructors at the workshop suggested reconsidering the use of asserts in the [defensive programming lesson](https://carpentries-lab.github.io/python-aos-lesson/08-defensive/index.html) I delivered (see https://github.com/carpentries-lab/python-aos-lesson/issues/36 for details).

If we ever write an update of th

[2021-07-29 12:15] gvwilson commented on #623
I think we do a good job of getting 2 to 3, and I hope there will be some new stuff in the book even for (the very small percentage of) researchers who are already at level 3. I honestly don't know what to recommend after that, even to people in industry: https://aosabook.org/ was my attempt to provide more concentrated material, but it didn't move the needle noticeably. I've thought more than onc

[2021-08-01 12:44] onlyphantom opened #626 "Discussion: history 6 -> history | tail -n 6"
In **Chapter 4.3 Turning Interactive Work into a Script**, the author suggests using `history 6` to retrieve / show the last 6 commands in our history:

[code]

`history 6` is probably specific to specific flavours of Unix, and is not guaranteed to work. I propose to change it to `history | tail -n 6` instead:

[code]

1. This is also consistent with the book's previous chapters (specifically in 3

[2021-08-01 19:17] joelostblom commented on #626
Thanks for you for opening this issue @onlyphantom ! I believe `history [n]` is [built into bash across all platforms as document here](https://www.gnu.org/software/bash/manual/html_node/Bash-History-Builtins.html). Did you encounter a situation where it would not work for you with bash?

As for `head`, I think it is part of gnucoreutils rather than a bash builtin and `head -6` is an older syntax

[2021-08-02 02:48] onlyphantom commented on #626
Thank you for that reassurance!

As a Mac user at home (macOS recently went from bash to zsh), I can confirm that `history [n]` did not work for `zsh`.

The expected output of `history [n]` was `n` last records of `history`, equivalent to `history | tail -n [n]`. But in `zsh`:
- `history [n]` does the same thing as `history`. `n` is ignored.
- `history -[n]` does work; `history -5` returns the las

[2021-08-02 18:52] joelostblom opened #627 "Discussion: Add notes where zsh differs from bash"
Spurred by #626 , what do others think about pointing out when the syntax we have in the book does not work for zsh or there is another way to do it that is more efficient in zsh? Might be helpful especially for macOS users who don't realize they are using zsh by default.

[2021-08-02 18:53] joelostblom commented on #626
It is not working in zsh is because `history` is a builtin command in bash with its own functionality and options interface, whereas in zsh it is an alias for `fc -l`, which does not support the same flags as the bash history command (`man zshbuiltins` to read more). I suppose this is made as a convenience for people switching between shells but might end up creating confusing situations like this

[2021-08-17 17:37] patrickmineault opened #630 "Discussion: Travis CI"
I really enjoyed reading the chapter on testing. However, I was wondering whether in the long term it was a good idea to recommend Travis CI, given their acquisition by a financial firm and [recent back and forth as to whether they will continue to support free actions for open source projects](https://news.ycombinator.com/item?id=25338983). In theory, Travis CI can be largely replaced with Github

[2021-08-17 17:47] lwjohnst86 commented on #630
Yes, we have exactly that discussion. At the time of writing this, Travis CI was still fine, but as with any technology, things evolved. In our next version we're planning on switching over to GitHub Actions. Thanks for the issue!!

[2021-09-13 21:48] mikerenfro opened #638 "Discussion: ${name} shows up in key points, but not in text?"
Not sure if this is a mistake, but `${name}` syntax doesn't appear to show up in the text of chapter 3, only in the key points summary.

[2021-09-24 17:06] #621 closed, assigned to nobody

[2021-11-07 18:28] gvwilson opened #640 "Mention CODE_OF_CONDUCT.md"
Now that GitHub has standardized...

[2021-11-07 18:29] gvwilson opened #641 "Describe CITATION.cff files"
Now that GitHub has standardized.

[2021-11-10 01:05] DamienIrving opened #643 "Discussion: A notebook native workflow"
Something I'm acutely aware of when talking about this book or running Software Carpentry workshops is that people *love* working in Jupyter notebooks, but my teaching is constantly steering them away from notebooks (i.e. I effectively tell learners that notebooks are great for prototyping but they should ultimately take the code they've developed in notebooks and incorporate it into a command lin

[2022-11-11 02:08] #607 closed, assigned to nobody